<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://phpunit.de/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         verbose="true">
  <testsuites>
    <testsuite name="Metadata Validator">
      <directory>./</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
    <log type="coverage-html" target="build/coverage" title="PHP Coveralls" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
    <log type="coverage-clover" target="build/logs/clover.xml" />
  </logging>
</phpunit>

